# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# codex
/.codex

# devshells
/.editorconfig
/prek.toml
/treefmt.toml

# direnv
/.envrc
/.direnv

# nix
/repl-result-out
/result
/result-*

# .gitignore ends here
